.header{
  width: 100%;
  height: 60px;
  background-color: white!important;
  position: fixed;
  box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.3);
  padding: 15px  15px;
  top: 0;
  z-index: 999999999999;

  a {
    font-weight: lighter;
    color: rgba($color: #000000, $alpha: 0.7);
  }

  a:hover {
    font-weight: bolder;
    color: rgba($color: #000000, $alpha: 1.0);
    transition: all 0.3s linear;
  }
  
  &__account {
    color: white;
    font-weight: bold;
    font-size: 1.2 rem;

    a {
      // position: absolute;
      // right: 20px;
      cursor: pointer;
      text-decoration-line: none;
    }
  }
}

.wallet{
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
.wallet:hover{
  background-color: rgb(167, 161, 161);
  border-radius: 20px;
  color: white;
  padding: 5px;
}