.title{
  font-size: 14px!important;
  font-weight: bolder;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #111;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .countdown-svg{
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 9999;
    }
    span {
        color: #333;
        font-size: 0.7em;
        font-weight: 600;
        text-transform: uppercase;
  }
}
