.product-detail__info img{
  border-radius: 20px;
}

.product-detail__info{
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 50px 50px;
  font-size: larger;
  background-color: white;

  table.list-seller {
    background-color: rgb(248,246,242);
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);

    tr {
      // padding: 5px 10px;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.pd-info{
  padding: none;
  margin: none;
  box-shadow:none;
  border: 1px solid #c8c7c4;
  padding: 15px;
  border-radius: 20px;
  height: 285px;

  table{
    width: 100%;
    height: max-content;
    td{
      padding: 10px 10px!important;
      border-bottom: 1px solid #c8c7c4;
    }
    tr:last-child td{
      border-bottom: none;
    }
    img.coin{
      width: 25px;
      border: none;
      height: 25px;
    }
  }
}

.manage{
  border: 1px solid #c8c7c4;
  padding: 15px;
  border-radius: 20px;
}

.product-detail__info .btn{
  width: 150px;
  background-color: #33aaff;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.product-detail__info .btn-active{
  background-color: #2c394c;
}

.product-detail__info .btn-sell{
  background-color: aqua;
}

.product-detail__info .btn-deactive{
  background-color: brown;
}

.payment-btn {
  height: 55px;
  width: 100%;
  border: none;
  margin-bottom: 18px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #295592;
}

.pop-up{
  position: absolute;
  width: 500px;
  background-color: white;
  border-radius: 20px;
}

.product-img{
  border-radius: 20px;
  height: 400px;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);

  img {
    height: 100%;
  }
}

.product-img-sub img:hover {
  border-radius: 0;
  transform: scale(1.5, 1.5);
	transition: transform 0.3s;
}

.activate-product{
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  border: 0.1px solid;
  padding: 10px;
}

.activate-product::placeholder{
  font-size: 13px;
  padding: 10px;
}
