.detail-info {
  border-radius: 20px;
  padding: 50px;
    border: 0.5px solid #8a8b8b;
  // box-shadow: 1px 1px 8px 8px rgb(179, 177, 177);
  position: relative;

  p {
    font-size: 18px;
  }

  .status {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;

    &__open {
      background-color: green;
      color: white;
    }

    &__close {
      background-color: red;
      color: white;
    }
  }

  button {
    background-color: #0099FF;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    
    &.disable {
      background-color: #5c5d5d;
      cursor: not-allowed;
    }
  }

  button:hover {
    background-color: #023556;
  }

}

.detail-description{
  border-radius: 20px;
  padding: 50px;
  border: 0.5px solid #8a8b8b;
  // box-shadow: 1px 1px 8px 8px rgb(179, 177, 177);
}

.historyTable {
  table {
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5px solid rgba(49, 47, 47, 0.3);
    padding: 100px;
    border-radius: 20px;

    td, th {
      padding: 10px 0;

      border-bottom: 0.5px solid rgba(49, 47, 47, 0.3);
    }
  }

  .completed {
    width: 150px;
    background-color: #16B6E7;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .not-completed {
    width: 150px;
    background-color: #2C394C;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
  }
}

.join_btn {
	background-color: #33aaff;
	border-radius: 10px;
	border: none;
	padding: 5px;
	color: white;
	position: absolute;
	right: 30px;
	bottom: 25px;
	width: max-content;
}

.join_btn:hover {
	background-color: #0946a1;
}

button.cancel{
    background-color: #7e8081;
  }
button.cancel:hover{
    background-color: black;
  }

    button.btn-disabled {
    cursor: not-allowed;
    background-color: rgb(49, 47, 47)!important;
  }