.pop-up_container {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .pop-up {
    position: relative;
    width: 30rem;
    margin: 15% auto;
    
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 15px 15px rgba($color: #000000, $alpha: 0.3);

    &__child {
      position: relative;
      padding: 50px 0;
      width: 80%;
      margin: 0 auto;
      h2 {
        justify-content: center;
      }
    }

    &__close {
      position: absolute; 
      right: 20px;
      top: 10px;
      cursor: pointer;
      color: rgba($color: #000000, $alpha: 0.3);
      font-weight: 100;
    }

    &__close:hover {
      color: black;
    }
  }
}
