.pagination {
  div {
    cursor: pointer;

    p {
      padding: 2px 10px;
      justify-items: center;
      border-radius: 50%;
      color: black;
    }

    p:hover{
      background-color: #33aaff;
      color: white;
    }

    .active {
      padding: 2px 10px;
      justify-items: center;
      border-radius: 50%;
      background-color: #33aaff;
      color: white;
    }
  }

  .lastpage p:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(112, 109, 109);
  }

  .firstpage p:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(112, 109, 109);
  }

  .disable {
    cursor: text;
  }

  .disable p {
    cursor: text;
    color: rgb(112, 109, 109);
  }

  .disable p:hover {
    cursor: text;
    color: rgb(112, 109, 109);
    background-color: rgba(255, 255, 255, 0);
  }

}