.App {
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    // font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: scroll;
}
/* width */
body::-webkit-scrollbar {
	width: 12px;
}

/* Track */
body::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 20px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: #3a78cf;
	border-radius: 15px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: #128fe9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.loading {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;

  .spinner {
    position: relative;
    top: 47vh;
    left: 43vw;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.join_btn:hover {
	background-color: #0946a1;
}

button.cancel{
    background-color: #7e8081;
  }
button.cancel:hover{
    background-color: black;
  }

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.7);
    vertical-align: middle;
    margin-left: 30px;
}